.my-info-page {
  width: 200;
  height: 200;
  border: solid white;
  margin: 10px 25px;
  padding: 30px 30px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
}