.my-info-page {
  width: 200;
  height: 200;
  background-color: #26a69a;
  border-radius: 10px;
  margin: 10px 25px;
  padding: 30px 30px;
}

.healthContainer {
  width: 300px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
  border-radius: 5px;
}

.labelClass {
  font-size: 0.9rem;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
}